/* Footer */
.footer {
    background-color: #131918;
    padding: 30px 60px;

}

.section1 {
    margin-bottom: 20px;
    width: 30%;

}

.contact p {
    margin-top: 0px;
}

.section2 {
    display: flex;
    width: 70%;
    justify-content: end;
    padding-right: 120px;
    gap: 20px;
}

.section2a {

}

.footer h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color:#fff;
}

.footer p {
    margin-bottom: 10px;
    color:#fff;
}

.row {
    display: flex;
    flex-direction: row;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 5px;

}
.footer ul li a{
    color:#fff;
    text-decoration: none;
}

.copyright {
    text-align: center;
}
